#wholeBody {
  background-color: aliceblue;
}
#tasks {
  list-style-type: none;
}
.listItem {
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  transform: translate(53%, 53%);
  width: 790px;
  height: 30px;
  background-color: rgb(128, 128, 128);
  margin: 10px;
  padding: 10px;
}
#heading {
  /* display: flex; */
  text-align: center;
  color: rgb(128, 128, 128);
}
.inputDiv {
  text-align: center;
}
#add-item {
  width: 800px;
  height: 30px;
  font-size: medium;
  font-weight: 300;
}
#taskItem {
  color: white;
  font-weight: 500;
  top: 20px;
  margin-left: 50px;
}

li.checked {
  background-color: rgb(0, 255, 0);
  color: #fff;
  text-decoration: line-through;
}
li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  text-decoration: line-through;
}
.delButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border: none;
}
#TotalItemCount {
  margin: auto;
  width: 100px;
  border: 3px solid #73ad21;
  padding: 10px;
  margin-top: 30px;
  height: fit-content;
}
#unmarkedCount {
  margin: auto;
  width: 100px;
  border: 3px solid #73ad21;
  padding: 10px;
  margin-top: 30px;
  height: fit-content;
}
#markedCount {
  margin: auto;
  width: 100px;
  border: 3px solid #73ad21;
  padding: 10px;
  margin-top: 30px;
  height: fit-content;
}
#countContainer {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  transform: translate(62%, 53%);
  width: 790px;
  height: 30px;
  margin-bottom: 50px;
}
